html{
  overflow-x: hidden;
}

.App{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container{
  min-height: 100vh;
  width: 100%;
  margin-top: 25px;
}

.hero {
  background-color: rgb(240,240,240);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: black;
  padding: 0px 60px;
  margin-top: -20px;
}

@media (max-width: 992px) {
  .hero {
    padding-top: 30px;
    margin-top: 0px;
    background-color: rgb(240,240,240);
    width: auto;
  }
  .hero div:nth-child(1) {
    padding-bottom: 30px;
  }
}

@media (max-width: 530px) {
  .hero {
    padding-top: 30px;
    margin-top: 0px;
    background-color: rgb(240,240,240);
    width: auto;
  }
  .hero div:nth-child(1) {
    padding-bottom: 30px;
  }
  .hero img{
    width: 250px;
  }
  .formField{
    width: 100% !important;
  }
  .aboutSection{
    width: 90%;
  }
}

.title {
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 5px;
  font-weight: 900;
}

.tagline {
  font-size: 24px;
  margin-top: 0;
  margin-top: 2px;
  color: rgba(0,0,0,0.7)
}

.description {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.featured-image {
  border-radius: 12px;
}

.steps{
  margin-top: 20px;
  min-height: 90vh;
}

.step{
  margin-top: 20px;
  font-size: 28px;
}

.navbar{
  display: flex;
  max-width:100%;
}

.footer {
  margin-top: 10px;
	display: flex;
	align-items: center;
  background: slategray;
	text-align: left;
	font-size: 14px;
  color: white;
  display: 'inline-block';
	p {
		margin: 0;
		color: #000
	}
	a {
		font-weight: normal;
	}
}

.footerRow{
  width: 100%;
  font-size: 16px;
  margin: 20px;
}

.footerItem{
  color: white;
  margin-top: 10px;
}

.groupCard{
   width: 18rem;
   margin-top: 15px;
}

.aboutSection{
  width: 75%;
}
